<div class="header">
    <div class="github-logo">
        <img src="../../assets/img/gitlogo.png" class="gitcat" alt="logo">
        <img src="../../assets/img/stick.png" class="stick">
    </div>
    <div class="github-text">
        <p class="line1">GitHub</p>
        <p class="line2">search</p>
    </div>
    <div class="empty-block"></div>
    <div class="search-link" [routerLink]="'search'">
        <p class="search-link__content">Search</p>
    </div>
    <div class="mylist-link" [routerLink]="'my-list'">
        <p class="my-list-link__content">My List</p>
    </div>
</div>
