<div class="grid-results">
    <div *ngFor="let item of arrayToRender" class="repo-item">
        <div class="column-first">
            <p class="repo-lang__last">{{item.lang}}</p>
            <p class="stars-count">{{item.stars}}</p>
        </div>
        <div class="column-second">
            <p class="repo-name">{{item.name}}</p>
            <p class="repo-description">Platform for professional publishers</p>
            <p class="repo-lang">{{item.lang}}</p>
            <p class="repo-text">{{item.text}}</p>
            <div class="button-block">
                <button (click)="this.request.addRepoToMyList($event)" data-id={{item.id}} [class]="'button-add-remove ' + item.buttonClass">{{item.buttonText}}</button>
            </div>
        </div>
    </div>
</div>