<div class="my-list">
    <div class="my-list_title">my list</div>
    <ng-template [ngIf]="this.request.myList.length">
        <app-view-filter></app-view-filter>
    </ng-template>
    <label *ngFor="let item of this.request.myList"  class="repo-item">
        <div class="column-first" data_id="1234">
            <input type="checkbox" checked="true" (click)="this.request.addRepoToMyList($event)" value={{item.name}} class="checkbox-item">
            <span class="checkbox__new"></span>
        </div>
        <div class="column-second">
            <p class="repo-name">{{item.name}}</p>
            <p class="repo-description">Platform for professional publishers</p>
            <p class="repo-lang">{{item.lang}}</p>
            <p class="repo-text">{{item.text}}</p>
        </div>
        <div class="column-third">
            <p class="stars-count">{{item.stars}}</p>
            <p class="repo-lang__last">{{item.lang}}</p>
        </div>
    </label>
</div>
