select {
    width: 13rem;
    height: 1.5rem;
    line-height: 1rem;
    font-size: 0.9rem;
    border: none;
    border-bottom: 1px solid #0366D6;
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #ffffff;
    background-image: url('../../../assets/img/Polygon.png');
    background-repeat: no-repeat;
    background-position: right;
    padding: 0 0.2rem;
}

option:first-child {
    text-transform: capitalize;
}

